.color{
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border-radius: 10px;
  position: relative;
}
.button-div{
  height: 100px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border-radius: 10px;
  position: relative;
  background-color: black;
}


.btn {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #3d3f41;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  margin: 5px;
}

.btn:hover {
  background-color: #c0c8d1;
}
